.header {
  margin-bottom: 4em;
  padding: 2em 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--clr-dark);
}

.container {
  width: var(--c-width);
  margin: 0 auto;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer,
.menuContainer,
.tickerContainer {
  flex: 1;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  /* font-size: var(--fs-h3); */
  width: 7em;
  /* text-transform: uppercase;
  line-height: 1;
  margin: 0;
  user-select: none; */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navBtn {
  color: var(--clr-light);
  font-size: var(--fs-h5);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

.navBtn:hover,
.navBtn:focus {
  color: var(--clr-accent);
}

.tickerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

.imgContainer {
  position: relative;
  width: 60px;
  height: 60px;
}

.ticker {
  font-size: var(--fs-h3);
  font-weight: 700;
  margin: 0;
  line-height: 1;
  transition: all 0.3s;
}

.ticker:hover,
.ticker:focus {
  color: var(--clr-accent);
}

.mobileContainer {
  flex: 1;
  display: none;
}

.i {
  font-size: var(--fs-h3);
  color: var(--clr-light);
}

@media (max-width: 1600px) {
  .imgContainer {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 700px) {
  .menuContainer,
  .tickerContainer {
    display: none;
  }

  .mobileContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .imgContainer {
    width: 30px;
    height: 30px;
  }
}
