.landing {
  margin-bottom: 15em;
}

.container {
  width: var(--c-width);
  margin: 0 auto;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  text-align: center;
  color: var(--clr-accent);
  line-height: 1.1;
}

.lock {
  font-size: var(--fs-h2);
  color: var(--clr-accent);
}
