@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -99;
  animation-name: appear;
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

.container {
  width: var(--c-width);
  margin: 0 auto;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waxCoin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em;
}

.btn {
  color: var(--clr-light);
  font-weight: 700;
  font-size: var(--fs-body);
  padding: 0.5em;
  margin: 0.5em;
}

.logo {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-55px, 0);
}

.price {
  margin: 0;
  margin-left: 0.15em;
  font-size: var(--fs-body);
  font-weight: 700;
  transition: all 0.3s;
}

.price:hover,
.price:focus {
  color: var(--clr-accent);
}

.i {
  position: absolute;
  transform: translate(6px, -30px);
  font-size: var(--fs-h4);
  color: var(--clr-accent);
  transition: all 0.3s;
}

.i:hover,
.i:focus {
  transform: translate(6px, -30px) scale(1.1);
}
