.grandParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  height: 25em;
  background-color: rgba(98, 0, 255, 0.1);
  width: 100%;
  position: relative;
  border: 1px dashed var(--clr-accent2);
}

.zIndex {
  z-index: 2;
}

.rewardTitle {
  font-size: var(--fs-h4);
  margin: 0;
}

.rewardDescription {
  color: var(--clr-rgba);
  max-width: 60ch;
  margin: 2em 0;
}
