.redeemables {
  margin-bottom: 15em;
}

.container {
  width: var(--c-width);
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40em, 1fr));
  gap: 2em;
}

@media (max-width: 660px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  }
}

/* .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
} */

/* .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
} */

/* @media (max-width: 910px) {
  .parent {
    flex-wrap: wrap;
  }
} */
